{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	<div class="profile">
		<div class="imagePro">
			<img src="/img/usersAvatars/{{ app.user.avatar.imageName }}"/>
			<h4>{{app.user.pseudo}}</h4>
		</div>
		<div class="desc">
			<h2>Description</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda itaque iure at accusantium nemo quibusdam cumque voluptatem alias labore blanditiis. Laudantium recusandae optio culpa iste dignissimos sit hic quisquam quod!</p>

			<h2>Vos adresses</h2>
			<p>
				{{ localisation.rue }}
				{{ localisation.codePostal }}
				{{ localisation.ville }}
			</p>
			<a href="{{ path('localisation') }}">
				<button type="button" class="btn_fixed_width">Modifier les localisation</button>
			</a>
		</div>
	</div>
	<a href="{{ path('editProfil', {id: app.user.id}) }}">
		<button type="button" class="btn_fixed_width">Modifier le profil</button>
	</a>
	<h2>Vos Annonces</h2>
	<div class="container">
	<div class="row align-items-center justify-content-center">
		{{ include('annonce/_card.html.twig') }}
	</div>
</div>{% endblock %}
