{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('geolocation') }}
{% endblock %}

{% block body %}
	{% if (app.user and app.user.ban == 0) or not app.user %}
		<div class="example-wrapper">

			<br>
			<h2 class="text-center welcome">Bienvenue
				{% if app.user %}
					{{ app.user.pseudo }}
				{% endif %}!</h2>

			<div class="container">
				{{ form_start(form) }}
				<div class="row align-items-center justify-content-center">

					<div class="col-md-auto">

						<div class="dropdown">
							{{ form_widget(form.categorie, { 'attr': {'class': 'homedropdown'} }) }}
						</div>
					</div>
					<div class="col-md-auto">
						<div class="home">
							{{ form_widget(form.localisation, { 'attr': {'class': 'form-control coordonnees'} }) }}
						</div>
					</div>
					<div class="col-md-auto">
						<button type="button" class="geolocation">
							<i class="fas fa-location-dot"></i>
						</button>
					</div>
				</div>
				<div class="row d-flex justify-content-center">

					<div class="text-center">
						<div class="home">
							{{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="text-center">
						{{ form_widget(form.save, { 'attr': {'class': 'btn_fixed_width'} }) }}

					</div>
					<div class="text-center">
						<a href="annonce/new">
							<button type="button" class="btn_fixed_width">Déposer une annonce</button>
						</a>
					</div>
				</div>
				{{ form_end(form) }}
			</div>

			<br>
				<p class="text-center texte_info">
					Donnez sans frais.
					<br>
					CyClic a pour but de faciliter le don d'objets entre particuliers. Plus besoin de jeter, donnez !
				</p>
			</br>

		</p>
		<br>
		<h1>Annonces récentes</h1>
		<br>

		<div class="container">
			<div class="row align-items-center justify-content-center">
				{{ include('annonce/_card.html.twig') }}
				<a href="/annonce" class="text-right">Trouver plus d'annonces</a>
			</div>
		</div>
	</div>

</div>{% else %}
<img src="{{ asset('img/YSNP.jpg') }}">
<a href="{{ path('app_logout') }}">
	<h1>
		Déconnexion
	</h1>
</a>{% endif %}{% endblock %}
