{% extends 'base.html.twig' %}

{% block title %}Localisation{% endblock %}

{% block body %}
    {{ form_start(localisationForm) }}
        {{ form_row(localisationForm.rue, {
            attr: {
                'placeholder': 'Voie',
                'class': 'voie'
            }
        }) }}
        {{ form_row(localisationForm.codePostal, {
            attr: {
                'placeholder': 'CP',
                'class': 'CP'
            }
        }) }}
        {{ form_row(localisationForm.ville, {
            attr: {
                'placeholder': 'Ville',
                'class': 'ville'
            }
        }) }}
    <button type="submit" class="btn localize_me_there">Se localiser ici</button>
    <button type="button" class="geolocation"><i class="fas fa-map-marker-alt" ></i></button>
    {{ form_end(localisationForm) }}
{% endblock %}
