<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CyClic
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('icon/CyClic_favicon.ico') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	{% if (app.user and app.user.ban == 0) or not app.user %}
		<!-- Navbar du site -->
			<header class="main_navbar"> <nav class="CyClic_navbar">
				<a href="{{ path('home') }}"><img src="{{ asset('img/wordmark.png') }}" class="nav_logo"></a>
				<ul class="nav_menu">
					<li>
						<a href="{{path('new_annonce')}}">Publier une annonce</a>
					</li>
					<li>
						<a href="{{path('annonce')}}">Recherche</a>
					</li>
					{% if app.user %}
						<li>
							<a href="{{path('messagerie_own')}}">Messagerie</a>
						</li>
						<li>
							<a href="#" id="userIcon">
								<i class="fas fa-user"></i>
							</a>
							<nav id="userMenu" class="userIconOff">
								<a href="{{path('profil')}}">Profil</a>
								<a href="#">Paramètres</a>
								<a href="{{path('app_logout')}}">Déconnexion</a>
							</nav>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">Connexion</a>&nbsp; &middot; &nbsp;<a href="register">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		{% endif %}


		{% block body %}{% endblock %}
		{% if (app.user and app.user.ban == 0) or not app.user %}
		<footer>
			<div class="logo_footer">
				<a href="/home"><img src="{{ asset('img/CyClic_logo.png') }}"></a>
				<small class="d-block mb-3 text-muted ">&copy; 2021–2022</small>
			</div>

			<div class="list_flex">
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-secondary" href="/login">Se connecter</a>
					</li>
					<li>
						<a class="link-secondary" href="/register">S'inscrire</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Team feature</a>
					</li>
				</ul>
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-secondary" href="/annonce">Annonces</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Resource</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Another resource</a>
					</li>
				</ul>
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-secondary" href="/home">Home</a>
					</li>
					<li>
						<a class="link-secondary" href="#">Mentions légales</a>
					</li>
					<li>
						<a class="link-secondary" href="#">FAQ</a>
					</li>
				</ul>
			</div>


			<div class="logo_social">
				<a href="https://fr-fr.facebook.com/"><img src="{{ asset('img/logo_facebook.png') }}"></a>
				<a href="https://twitter.com/?lang=fr"><img src="{{ asset('img/logo_twitter.png') }}"></a>
			</div>
		</footer>
		{% endif %}
	</body>
</html>
