<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CyClic
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('icon/CyClic_favicon.ico') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!-- Navbar du site -->
		<header class="main_navbar">
			<nav class="CyClic_navbar">
				<a href="{{ path('home') }}"><img src="{{ asset('img/wordmark.png') }}" class="nav_logo"></a>
				<ul class="nav_menu">
					<li>
						<a href="{{path('new_annonce')}}">Publier une annonce</a>
					</li>
					<li>
						<a href="annonce">Recherche</a>
					</li>
					{% if app.user %}
						<li>
							<a href="#">Messagerie</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-user"></i>
							</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">Connexion</a>&nbsp; &middot; &nbsp;<a href="register">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% block body %}
			<!-- Ajouter le contenu voulu dans D'AUTRES fichiers Twig -->
		{% endblock %}
	</body>
</html>
