{% extends "base.html.twig" %}

{% block title %}
	{{ produit.titre }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("mapping") }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("mapping") }}
	{{ encore_entry_script_tags('detailAnnonce') }}
{% endblock %}

{% block body %}
	<div class="product">
		<div
			class="slideshow">
			<!--slideshow-->
			<div class="all_product_images">
				<div class="select_images">
					{% if produit.photos is not empty %}
						{% for photo in produit.photos %}
							<img class="product_image_1" src='/img/imgAnnonces/{{photo.imageName}}' alt="{{ photo.imageName }}">
						{% endfor %}
					{% else %}
						<img class="product_image_1" src="https://th.bing.com/th/id/R.0c12d2fd4673dee91a743aecb340d6e6?rik=B1IyQZsF2%2fF6vA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_148071.png&ehk=wacpDthkV%2fQSfOLelWSsYQFabLKAVjXh1pZAq0%2fe3gU%3d&risl=&pid=ImgRaw&r=0" alt="Image">
						<img class="product_image_2" src="https://th.bing.com/th/id/R.0c12d2fd4673dee91a743aecb340d6e6?rik=B1IyQZsF2%2fF6vA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_148071.png&ehk=wacpDthkV%2fQSfOLelWSsYQFabLKAVjXh1pZAq0%2fe3gU%3d&risl=&pid=ImgRaw&r=0" alt="Image">
						<img class="product_image_3" src="https://th.bing.com/th/id/R.0c12d2fd4673dee91a743aecb340d6e6?rik=B1IyQZsF2%2fF6vA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_148071.png&ehk=wacpDthkV%2fQSfOLelWSsYQFabLKAVjXh1pZAq0%2fe3gU%3d&risl=&pid=ImgRaw&r=0" alt="Image">
					{% endif %}
				</div>
			</div>
			{% if produit.photos is not empty %}
				{% for photo in produit.photos %}
					{% if photo == loop.first %}
						<figure>
							<img class="product_image" src='/img/imgAnnonces/{{ photo.imageName }}' alt=" {{ photo.imageName }} ">
						</figure>
					{% endif %}
				{% endfor %}
			{% else %}
				<figure>
					<img class="product_image" src="https://th.bing.com/th/id/R.0c12d2fd4673dee91a743aecb340d6e6?rik=B1IyQZsF2%2fF6vA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_148071.png&ehk=wacpDthkV%2fQSfOLelWSsYQFabLKAVjXh1pZAq0%2fe3gU%3d&risl=&pid=ImgRaw&r=0" alt="Image">
				</figure>
			{% endif %}
		</div>

		<div class="product_info">
			<h1 class="product_title">{{ produit.titre }}</h1>
			<h2 class="product_proposed_by">proposé par
				<span class="product_owner">{{ produit.auteur.pseudo }}</span>
			</h2>
			<h3>
				<ul class="product_state">
					<li>{{ produit.statut.nom }}</li>
					&middot;
					<li>{{ produit.categorie.nom }}</li>
					&middot;
					<li>{{ produit.etat.nom }}</li>
				</ul>
			</h3>
			<p class="product_description">{{ produit.contenu }}</p>
		</div>
	</div>

	<div class="product_user">
		<div class="user_info">
			<div class="user_details">
				<img class="user_avatar" alt="Avatar" src="/img/usersAvatars/{{ produit.auteur.avatar.imageName }}">
				<h5 class="user_name">{{ produit.auteur.pseudo }}</h5>
				<p class="user_ratings">
					<span class="rating_stars">
						{% if rating is defined and rating is not null %}
							{{ rating }}{% else %}N/A
						{% endif %}
					</span>
					<span class="rated_by"></span>
					avis d'utilisateurs</p>
			</div>
			{% if app.user and app.user ==  produit.auteur %}
				<a href="/annonce/edit/{{produit.id}}" class=" btn btn-warning m-1">Modifier l'annonce</a>
				<form method="post" class="interactions" action="{{ path('app_annonce_delete', {id: produit.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr de vouloir supprimer cette annonce ? Elle va vous manquer...')">
					<input name="_method" type="hidden" value="DELETE">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
					<input type="submit" class="btn btn-danger m-1" value="Supprimer l'annonce">
				</form>
			{% else %}
				<form method="post" action="{{ path('message_to', {'annonceId': produit.id}) }}" class="interactions">
					<button type="submit" class="interesting">Contacter ce donneur</button>
				</form>
				{% if app.user.id is defined %}
					<form method="post" action="{{ path('signalement', {'annonceId': produit.id, 'signaleur': app.user.id}) }}" class="interactions">
						<button type="submit" class="inappropriate">Signaler l'annonce</button>
					</form>
				{% endif %}
			{% endif %}
		</div>

		<div class="container">
			<div class="row  justify-content-center">
				<div class="col-sm-9 mx-auto">
					<div id="map" style="height:500px" data-message="Cette annonce est indiqué à cette emplacement" data-lon={{ produit.localisation.longitude }} data-lat={{ produit.localisation.latitude }}></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
