{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('collectionTypeEdit') }}
{% endblock %}

{% block body %}
	<div class="navbar_padding"></div>
	<div class="annonceForm_container">
		<h1 class="container__title">Modifier l'annonce</h1>
		{{ form_start(form) }}
		{{ form_row(form.titre) }}
		{{ form_row(form.contenu) }}
		<div class="container__blocBoutons">
			{{ form_row(form.categorie) }}
			{{ form_row(form.etat) }}
		</div>
		<div class="container__galerie">
			<ul class="photosEdit" id="photos" data-index="{{ form.photos|length > 0 ? form.photos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}">
				{% for photo in form.photos %}
					<li>
						{{ form_row(photo) }}
					</li>
				{% endfor %}
			</ul>
		</div>
		{{ form_row(form.localisation) }}
		<div class="d-flex justify-content-center">
			<a href="{{ path('show_details', {'id': id}) }}" class="auth_btn auth_btn-annulation" type="button">Annuler</a>
			{{ form_row(form.valider) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
