{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!
{% endblock %}

{% block body %}
	<div class="d-flex">
		<aside class="aside_filtre">
			<h2 class="aside_titre">Filtres</h2>
			<form action="" method="get" class="aside_form">
				<label for="etat-objet">
					<h6 class="aside__h6">Etat de l'objet :</h6>
				</label>
				<select name="etat" id="etat-objet">
					<option value="4">Mauvais état</option>
					<option value="3">Etat correct</option>
					<option value="2">Bon état</option>
					<option value="1">Excellent état</option>
				</select>
				<div>
					<label for="distance-objet"><h6 class="aside__h6">Distance :</h6></label>
					<input type="range" id="distance" name="distance" min="0" max="11">
				</div>
			</form>
		</aside>
		<main>
			<div class="entete">
				<form action="" method="get">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							catégorie
						</button>
						<select name="etat" id="etat-objet">
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								{% for categorie in categories %}
									<li>
										<option value="{{ categorie.id }}" class="dropdown-item">{{ categorie.nom }}</option>
									</li>
								{% endfor %}
							</ul>
						</select>
					</div>
					<div class="dropdown">
						<select name="lieu" id="lieu-objet">
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								{% for lieu in lieux %}
									<li>
										<option value="{{ lieu.id }}" class="dropdown-item">{{ lieu.nom }}</option>
									</li>
								{% endfor %}
							</ul>
						</select>
					</div>
					<input type="search" name="site-search" id="site-search" placeholder="que recherchez-vous ?">
					<button>Search</button>
				</form>
				<button class="btn">Tri/affichage</button>
			</div>
			<div class="d-flex flex-wrap">
				{% for annonce in annonces %}
					<a href="#">
						<div class="card">
							<img class="card-img-top" src="https://fr.web.img6.acsta.net/medias/nmedia/18/78/95/70/19485155.jpg" alt="{{ annonce.titre }}">
							<div class="card-body">
								<div class="card_text">
									<h5 class="card-title">{{ annonce.titre }}</h5>
									<p class="card-text">{{ annonce.etat.nom }}</p>
									<p class="card-text">{{ annonce.contenu|u.truncate(20, '…') }}</p>
								</div>
								<div class="card_profilePic">
									<img src="{{ annonce.auteur.avatar }}" alt="avatar du donneur">
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</main>
	</div>
{% endblock %}
