<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Authentification
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('icon/CyClic_favicon.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="authenticator">
		<a href="/" alt="Accueil"><img alt="CyClic logo" src="{{ asset('img/wordmark.png') }}" class="logotype"><img alt="CyClic logo" src="{{ asset('img/alt_logo.png') }}" class="portrait_auth_logotype"></a>

		<div class="auth_container"> {% block container %}{% endblock %}
			</div>
		</body>
	</html>
